@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.test{
  font-family: "Circular-Bold"
}

.Navbar-Container{
  min-width: 1280px;
}

.Container {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 100px;
  max-width: 1280px;
}

.Path-1103 {
  width: 100%;
  height: auto;
}

.Navbar-Img {
  width: 100%;
  height: auto;
}

.Quanta {
  position: absolute;
  top: 21px;
  left: 138px;

  width: 137px;
  height: 51px;
  font-family: CircularStd;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.BBQ {
  position: absolute;
  top: 36px;
  left: 309px;

  width: 48px;
  height: 30px;
  font-family: CircularStd;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Biodata {
  position: absolute;
  top: 36px;
  left: 386px;

  width: 82px;
  height: 30px;
  font-family: CircularStd;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Gallery {
  position: absolute;
  top: 36px;
  left: 495px;

  width: 78px;
  height: 30px;
  font-family: CircularStd;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Event{
    position: relative;
    width: 100%;
    height: 580px;
}

.Event-Title {
  position: absolute;
  top: 41.4px;
  left: 140px;

  width: auto;
  height: 129px;
  font-family: CircularStd;
  font-size: 102px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: #161743;
}

.Event-Slideshow {
  position: absolute;
  top: 203.4px;
  left: 308px;

  width: 664px;
  height: 360px;
}

.Photo-Frame {
    transition-duration: 0.5s;
}

.Photo-Frame:hover {
    position:relative;
    transform: scale(1.5);
    display:block;
    z-index:999;
}

.Photo {
    width: 664px;
    height: 360px;
    object-fit: cover;
}