@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.test{
  font-family: "Circular-Bold"
}

.Path-1103 {
  width: 1280px;
  height: 222.6px;
  background-image: url('Assets/top.svg');
}

.Quanta {
  width: 137px;
  height: 51px;
  font-family: CircularStd;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.BBQ {
  width: 48px;
  height: 30px;
  font-family: CircularStd;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Biodata {
  width: 82px;
  height: 30px;
  font-family: CircularStd;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Gallery {
  width: 78px;
  height: 30px;
  font-family: CircularStd;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Event-Title {
  width: 475px;
  height: 129px;
  font-family: CircularStd;
  font-size: 102px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: #161743;
}

.Event-Photo {
  width: 664px;
  height: 360px;
  background-image: linear-gradient(to bottom, #f76f6f, #dd4e4e);
}

.Left-Scroll {
  width: 10.2px;
  height: 33.9px;
  border: solid 4px #707070;
}

.Right-Scroll {
  width: 10.2px;
  height: 33.9px;
  border: solid 4px #707070;
}

.Tab-Container{
    width: auto;
    height: auto;
    display: inline-block;
}

.Tab-On {
  width: 66px;
  height: 7px;
  margin: 12px;
  background-color: #ffffff;
}

.Tab-Off {
  width: 66px;
  height: 7px;
  margin: 12px;
  border: solid 1px #ffffff;
}